<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deposits</title>
</head>
<body>
    <ul>
        {% for deposit in object_list %}
            <li>
                <a href="{% url 'deposit' pk=deposit.id %}">
                    Deposit: {{ deposit.id }} <br>
                    Term: {{ deposit.term }} <br>
                    Rate: {{ deposit.rate }} <br>
                    Interest: {{ deposit.interest }} <br>
                </a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>